
<% @posts.each do |post|%>
  <div>
      <div>
          <%= post.title %>
      </div>

      <div>
          <p><%= time_ago_in_words(post.created_at) %> ago</p>
      </div>

      <div>
          <p><%= link_to 'Post', post_path(post)%></p>

        <% if current_user.id == post.user_id %>
          <p><%= link_to 'Edit', edit_post_path(post)%></p>
          <p><%= link_to 'Delete', post_path(post), method: :Delete, data: {confirm: "are you sure??"}%>
        <% end %>
      </div>

  </div>
<%end%>
